<html>
   <head>
      <meta charset="utf-8">
      <title>Shopping List</title>

      <link rel="stylesheet" href="/style/main.css">
      <script type="text/javascript" src="/scripts/app.js"></script>

   </head>
   <body>
      <h1>Don't Forget The Soymilk</h1>
      <hr>

      <%= yield %>
      <!-- not sure why yield is in blue (it's white in tskrrr) -->

      <hr>
   </body>
</html>
