<!-- put here a form with action /register  post -->
<!-- user_name user_email password -->
<h3>Account Registration</h3>

<form class="" action="/register" method="post">
   <input type="text" name="user_name" value="" placeholder="Username">
   <input type="text" name="password" value="" placeholder="Password">
   <input type="submit" name="name" value="Register">
   <!-- <button type="button" name="register">Login</button> -->
</form>

Existing Account? Login <a href="/login">here</a>
<hr>
