<h3>Update List Item</h3>

<p>
  <em>Update: <%= @item.name %>.</em>
</p>

<!-- hidden input used to keep tack of task id -->
<form action="/update" method="post">
  <input type="hidden" name="id" value="<%= @item.id %>">
  <input type="text" name="name" value="<%= @item.name %>">
  <input type="text" name="quantity" value="<%= @item.quantity %>">
  <input type="submit">Update</input>
</form>
